* {
    box-sizing: border-box;
}

body {
  background-color: #ccf2ff;
  padding-top: 400px;
}

.header {
  height: 400px;
  padding-top: 50px;
  background-color: #00b3b3;
}

.intro {
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 75%;
}

.intro-main {
  font-size: 70px;
  margin-bottom: 15px;
}

.main-nav,
.main {
  position: relative;
}

.main-nav {
  height: 60px;
  z-index: 100;
  margin-bottom: -60px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

#container {
  background-color: #ccf2ff;
  padding: 80px;
  margin: 0 auto;
  width: 100%;
}

ul.nav .nav-item {
 display:block;
 color: inherit;
}

ul.nav .nav-item a:hover {
 color:  #bf80ff;
}

hr {
  border: 2px solid white;
  margin-top: 30px;
  margin-bottom: 30px;
}

input, textarea, button {
  margin-top: 10px;
}

a {
  color: inherit;
}

a:hover {
  color: #bf80ff;
}

.social-media {
 margin: 10px;
}
