* {
    box-sizing: border-box;
}

/* body {
  background-color: #ccf2ff;
} */

section {
  background-color: #ccf2ff;
}

.intro-main {
  font-size: 5rem;
  padding-bottom: 20px;
}

.intro-secondary {
  font-weight: lighter;
}

.caps {
  text-transform: uppercase;
}

.main-nav {
  /* position: relative; */
  height: 60px;
  z-index: 300;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

#container {
  background-color: #ccf2ff;
  padding: 80px;
  margin: 0 auto;
  width: 100%;
  /* position: relative; */
}

ul.nav .nav-item {
 display: block;
}

ul.nav .nav-item a:hover {
 color:  purple !important;
}

hr {
  border: 2px solid white;
  margin-top: 30px;
  margin-bottom: 30px;
}

input, textarea, button {
  margin-top: 10px;
}

a {
  color: inherit;
}

a:hover {
  color: purple;
}

.social-media {
 margin: 10px;
}

@media (max-width: 660px) {
  p, h4 {
    font-size: 0.75rem;
  }

  h1 {
    font-size: 1rem;
  }

  #container {
    padding: 40px;
  }
}
