* {
    box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #ccf2ff;
}

h1 {
  font-family: "Oswald", sans-serif;
}

p {
  font-weight: lighter;
}

.navbar-collapse {
  background-color: white !important;
  padding: 10px;
}

.flex {
  display: flex;
  justify-content: center;
}

.intro-main {
  font-size: 5rem;
  font-weight: 700;
  padding-bottom: 20px;
  font-family: 'Oswald', sans-serif;
}

.intro-secondary {
  font-weight: 200;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
}

.caps {
  text-transform: uppercase;
}

.main-nav {
  height: 60px;
  z-index: 300;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.prompt {
  width: 250px;
  margin: 0 auto;
}

.gallery {
  margin-bottom: 30px;
}

.minigallery {
  width: 300px;
}

.print {
  width: 260px;
  margin-right: 5%;
  margin-bottom: 10%;
}

.link {
  text-decoration: underline;
}

#container {
  background-color: #ccf2ff;
  padding: 80px;
  margin: 0 auto;
  width: 100%;
}

#printsec {
  margin: 0 auto;
}

li, .section-header {
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
}

ul.nav .nav-item {
 display: block;
}

ul.nav .nav-item a:hover {
 color:  #800080 !important;
}

hr {
  border: 2px solid white;
  margin-top: 50px;
  margin-bottom: 50px;
}

input, textarea, button {
  margin-top: 10px;
}

a {
  color: inherit;
}

a:hover {
  color: purple;
}

.social-media {
 margin: 10px;
}

@media (max-width: 660px) {
  p, h4 {
    font-size: 0.75rem;
  }

  h1 {
    font-size: 1rem;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .intro-main {
  font-size: 2.5rem;
  }

  .intro-secondary {
    font-size: 0.75rem;
  }

  #container {
    padding: 40px;
  }
}
